POSTGRES_DB=odoo19_db
POSTGRES_USER=odoo
POSTGRES_PASSWORD=odoo
ODOO_LOG_LEVEL=debug
# Ruta absoluta al clon local de Odoo 19 Community (debe contener odoo-bin)
ODOO_SRC=/home/franciscorendon/odoo-19/odoo
# Puertos del host (8069/5432 los usa el entorno Odoo 18)
ODOO_PORT=8070
DB_PORT=5433
